* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #010203;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

h1, h2, p {
  color: #f5f5f5;
}

h1 {
  font-size: 31px;
  padding-bottom: 5px;
}

p {
  font-size: 18px;
}

section {
  margin: 10px 0px 10px 0px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border: #FFD700;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: orangered;
}

.chat-messages {
  max-height: 400px;
  overflow-y: auto;
  border: 3px solid #FFD700;
  padding: 10px 5% 0px 5%;
  border-radius: 15px;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
}

/* Brugerens beskeder */
.message.user {
  text-align: center;
  background-color: #010203;
  color: #f5f5f5;
}
/* Bottens modsvar */
.message.npc {
  text-align: center;
  background-color: #FFD700;
  color: #010203;
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
}

button {
  color: #010203;
  background-color: #FFD700;
  border-radius: 15px;
  padding: 7px 10px 7px 10px;
  font-size: 21px;
}
button:hover {
  background-color: orange;
}

input {
  background-color:#010203;
  color:#f5f5f5;
  border-color: #FFD700;
  border-radius: 15px;
  padding: 7px 10px 7px 10px;
  font-size: 21px;
}
input::placeholder {
  color: #f5f5f5;
}